
/********************ABOUTINTRO STARTS***************************/
.slides-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 45vh;
  width: 55vw;
  will-change: transform, opacity;
  cursor: pointer;
  color: white;
  margin: 5% auto 5% auto;
}
.slides {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 45vh;
  width: 55vw;
  will-change: transform, opacity;
  cursor: pointer;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
h1 {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
}
h3 {
  text-align: center;
  color: #190B79;
  font-weight: bold;
}

/********************ABOUT BODY STARTS***************************/
.card { /*These are the cards that have our information*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20vw;
  height: 45vh;
  background-color: #190B79; 
  will-change: transform, opacity;
  cursor: pointer;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}
.card-area {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 0;
}
span {
  margin: 0 8% 0 8%;
}
.about-team-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67vh;
  width: 60vw;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 5% auto 5% auto;
}
.about-team {
  display: flex-inline;
  justify-content: center;
  align-items: center;
}
.about-team-text {
  font-size: 2.5rem;
  text-align: left;
  color: #EB6CAD;
  font-size: bold;
  text-transform: uppercase;
}
.about-each {
  text-align: center;
}
.body-avatars {
  height: 17vh;
  margin: 3% 0 5% 0;
}
h2 {
  text-align: left;
  color: #EB6CAD;
  font-size: bold;
  margin-left: 10%;
  text-transform: uppercase;
}
h4 {
  text-align: left;
  color: white;
  font-size: bold;
  margin-left: 10%;
  width: 85%;
}

/*****************MEDIA QUERIES FOR ABOUT START**************/
@media screen and (max-width: 1224px) {
  h1 {
    font-size: 2.7rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 { 
    font-size: 1.6rem;
  }
  .about-team-text {/*Text outside of cards*/
    font-size: 2rem;
  }

}
@media screen and (max-width: 1100px) {
  .card-area {
    display: flex;
  }
  .card {
    width: 25vw;
    height: 45vh;
    padding: 20px;
    margin: 7% 0 7% 0;
}
  .about-team-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: 63vw;
    padding: 0px;
    margin: 6% auto 6% auto;
  }
  span {
    margin: 0 5% 0 5%;
  }
  h1 {
    font-size: 2.7rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 { 
    font-size: 1.6rem;
  }
  .about-team-text {/*Text outside of cards*/
    font-size: 2rem;
  }

}
@media screen and (max-width: 1024px) {
  .card-area {
    display: flex;
  }
  .card {
    width: 25vw;
    height: 45vh;
    padding: 20px;
    margin: 7% 0 7% 0;
}
  .about-team-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: 63vw;
    padding: 0px;
    margin: 6% auto 6% auto;
  }
  span {
    margin: 0 5% 0 5%;
  }
  h1 {
    font-size: 2.6rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 { 
    font-size: 1.6rem;
  }
  .about-team-text {/*Text outside of cards*/
    font-size: 2rem;
  }

}
@media screen and (max-width: 990px) {
  .card-area {
    display: flex;
  }
  .card {
    width: 25vw;
    height: 43vh;
    padding: 20px;
    margin: 7% 0 7% 0;
}
  .about-team-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64vh;
    width: 65vw;
    padding: 0px;
    margin: 5% auto 5% auto;
  }
   span {
    margin: 0 5% 0 5%;
  }
  h1 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
    h4 { 
    font-size: 1.6rem;
  }
  .about-team-text {/*Text outside of cards*/
    font-size: 2rem;
  }
}
@media screen and (max-width: 960px) {
  .card-area {
    display: flex;
  }
  .card {
    width: 25vw;
    height: 42vh;
    padding: 20px;
    margin: 7% 0 7% 0;
}
  .about-team-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62vh;
    width: 68vw;
    padding: 0px;
    margin: 5% auto 5% auto;
  }
   span {
    margin: 0 4% 0 4%;
  }
  h1 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 { 
    font-size: 1.5rem;
  }
  .about-team-text {/*Text outside of cards*/
    font-size: 1.9rem;
  }
}
@media screen and (max-width: 908px) {
  .card-area {
    display: flex;
  }
  .card {
    width: 30vw;
    height: 40vh;
    padding: 20px;
    margin: 7% 0 7% 0;
}
  .about-team-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 70vw;
    padding: 0px;
    margin: 5% auto 5% auto;
  }
   span {
    margin: 0 2% 0 2%;
  }
  h1 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 { 
    font-size: 1.4rem;
  }
  .about-team-text {/*Text outside of cards*/
    font-size: 1.8rem;
  }

}
@media screen and (max-width: 806px) {
  body {
    overflow-x: hidden;
  }
  .card-area {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 45vw;
    height: 40vh;
    padding: 20px;
    margin: 7% 0 7% 0;
}
  .about-team-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 103vh;
    width: 76vw;
    padding: 0px;
    margin: 5% auto 5% auto;
  }
  span {
    margin: 0;
  }
  h1 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 { 
    font-size: 1.3rem;
  }
  .about-team-text {/*Text outside of cards*/
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 723px) {
    body {
    overflow-x: hidden;
  }
  .card-area {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 45vw;
    height: 40vh;
    padding: 20px;
    margin: 7% 0 7% 0;
}
  .about-team-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 101vh;
    width: 74vw;
    padding: 0px;
    margin: 5% auto 5% auto;
  }
  span {
    margin: 0;
  }
  h1 { /*This is body intro text*/
    font-size: 2.1rem;
  }
  h3 { /*This is body intro text*/
    font-size: 1.2rem;
  }
  h4 { 
    font-size: 1.2rem;
  }
  .about-team-text {/*Text outside of cards*/
    font-size: 1.6rem;
  }

}
@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .card-area {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 45vw;
    height: 40vh;
    padding: 20px;
    margin: 7% 0 7% 0;
}
  .about-team-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 75vw;
    padding: 0px;
    margin: 5% auto 5% auto;
  }
  span {
  margin: 0;
}
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  h2 {
    font-size: 1rem;
  }
  h4 {
    font-size: 1.1rem;
  }
  .about-team-text {
    font-size: 1.5rem;
  }
}