.menu {
  box-sizing: border-box;
  background-color: #190B79;
  height: 100%;
/*  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);*/
  position: fixed;
  top: 8vh;
  left: 0;
  width: 70%;
  max-width: 400px;
  text-align: center;
  border-radius: 20px 20px 0 0;
}
.menu a {
  display: inline-flex;
  flex-direction: column;
  padding: 20px;
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  border-radius: 20px 20px 0 0;;
}
.mobile-link {
  display: inline-flex;
  flex-direction: column;
  border: none;
  background: #190B79;
  color: #fff;
  padding-bottom: 4px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.mobile-link:hover{
  color: white;
  background: #3C0CB0;
}