* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: url("background.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  font-family: 'Baloo Da 2', cursive;
/*  font-family: 'Poppins', sans-serif;*/
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/********************HEADER STARTS***************************/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 8vh;
  background-color: #190B79;
  border-radius: 0px 0px 20px 20px;
  top: 0;
  width: 100%;
  padding: 0 10% 0 10%;
}
.logo-area {
  color: white;
  font-size: 1.2rem;
}
.nav-logo-button {
  height: 5.5vh;
  border-style: none;
  border-radius: 50%;
}
.spacer {
  flex: 1;
}
.nav-links {
  display: inline-flex;
  justify-content: center;
}
.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
}
.nav-links ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.nav-links li {
  padding: 0 1rem;
}
.btn-1 {
  border: none;
  background: #190B79;
  color: #fff;
  padding-bottom: 4px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.btn-1:hover{
  color: white;
  border-bottom: solid;
  border-bottom-width: 0.5px;
  border-color: white;
  background: #190B79;
}
.nav-icon-button {
  height: 4vh;
  display: none;
  cursor: pointer;
}
/*******************MainIntro Starts***********************/
.intro-box {
  background-color: white;
  max-height: 20%;
  width: 45%;
  padding: 20px;
  margin: 7% auto 5% auto;
  text-align: center;
  border-style: none;
  border-radius: 20px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
}
.intro-text {
  font-weight: bold;
  font-size: 1.8rem;
  color: #190B79;
}
/********************MainSearchBar Starts************************/
.homepage-search-bar {
  text-align: center;
}
.main-search-bar {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 24px;
  width: 39%;
  height: 45px;
  margin-right: 5px;
  box-shadow: 0px 1px 4px grey;
}
input{
  width: 100%;
  padding: 0.75% 2%;
  margin: 0.75% 0;
  box-sizing: border-box;
}
button {
  border-style: none;
  border-radius: 20px;
  padding: 10px;
  background-color: #190B79;
  color: white; 
  margin-left: 5px;
  box-shadow: 0px 1px 4px grey;
}
/********************Top 20 trending Starts************************/
.top20Span {
  background-color: white;
  color: #190B79;
  margin: 5px;
  padding: 10px;
  display: inline-block;
  border-style: none;
  border-radius: 15px;
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}
.top20 {
  width: 55%;
  margin: 0 auto 0 auto;
  text-align: center;
}
.top20-text { /*This is the text above the top20*/
  margin: 2% 0 0.5% 27%;
  font-size: 1.5rem;
  font-weight: 700;
  color: #190B79;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
}
/********************Map Starts************************/

.loading {
  color: white;
}

.map {
  text-align: center;
  display: inline-block;
  margin: 20px;
}

.mapMarker {
  height: 10px;
}

.mapboxgl-popup {
max-width: 400px;
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mapPopup {
  font-size: 12px;
}
.mapPopup > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.mapPopup > .content {
  width: 100%;
  padding: 10px 5px;
  text-align: left;
}
.mapPopup > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

/********************MainCTA Starts************************/
.cta {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0 20% 0 20%;
}
.main-cta {
  margin: 4% 0 4% 0;
  background-color: #190B79;
  border-style: none;
  border-radius: 20px;
  height: 190px;
  width: 300px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
}
.main-cta-text {
  text-align: left;
  font-size: 1.3rem;
  padding: 15px 0 3px 15px;
}
.button-cta {
  background-color: white;
  color: #EB6CAD; 
  font-weight: bold;
  font-size: 1rem;
}
#second-cta-text {
  width: 68%;
}
 
/********************FOOTER STARTS*************************/
.footer-background {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  filter: brightness(150%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 6vh;
  border-radius: 20px 20px 0px 0px;
  font-weight: bold;
  text-align: center;
  font-weight: bold;
  color: #190B79;
  bottom: 0;
  width: 100%;
}
/********************FOOTER ENDS***************************/

/********************MEDIA QUERIES FOR HOME PAGE START***************************/
@media screen and (max-width: 1224px) {
  .intro-box {
    width: 53%;
  }
  .intro-text {
    font-size: 1.7rem;
  }
  .main-search-bar {
   width: 45%;
  }
  .top20Span {
    padding: 8px;
    margin-left: 0px;
  }
  .top20 {
    width: 66%;
    text-align: center;
  }
  .top20-text {
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 20%;
    margin-bottom: 2%;
  }
  .cta {
    display: flex;
    flex-direction: row;
    padding: 0 15% 0 15%;
  }
  #second-cta-text {
    width: 80%;
  }
  .main-cta {
    margin: 4% auto 4% auto;
  }
}
@media screen and (max-width: 1024px) {
  .intro-box {
    width: 53%;
  }
  .intro-text {
    font-size: 1.7rem;
  }
  .main-search-bar {
   width: 45%;
  }
  .top20Span {
    padding: 8px;
    margin-left: 0px;
  }
  .top20 {
    width: 66%;
    text-align: center;
  }
  .top20-text {
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 20%;
    margin-bottom: 2%;
  }
  .cta {
    display: flex;
    flex-direction: row;
    padding: 0 15% 0 15%;
  }
  #second-cta-text {
    width: 80%;
  }
  .main-cta {
    margin: 4% auto 4% auto;
  }
}
@media screen and (max-width: 990px) {
  .intro-box {
    width: 53%;
  }
  .intro-text {
    font-size: 1.7rem;
  }
  .main-search-bar {
   width: 45%;
  }
  .top20Span {
    padding: 8px;
    margin-left: 0px;
  }
  .top20 {
    width: 66%;
    text-align: center;
  }
  .top20-text {
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 20%;
    margin-bottom: 2%;
  }
  .cta {
    display: flex;
    flex-direction: row;
    padding: 0 15% 0 15%;
  }
  #second-cta-text {
    width: 80%;
  }
  .main-cta {
    margin: 4% auto 4% auto;
  }
}
@media screen and (max-width: 960px) {
 .intro-box {
    width: 58%;
  }
  .intro-text {
    font-size: 1.7rem;
  }
  .main-search-bar {
   width: 50%;
  }
  .top20Span {
    padding: 8px;
    margin-left: 0px;
  }
  .top20 {
    width: 66%;
    text-align: center;
  }
  .top20-text {
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 20%;
    margin-bottom: 2%;
  }
  .cta {
    display: flex;
    flex-direction: row;
    padding: 0 10% 0 10%;
  }
  #second-cta-text {
    width: 80%;
  }
  .main-cta {
    margin: 4% auto 4% auto;
  }
}
@media screen and (max-width: 908px) {
  .intro-box {
    width: 60%;
  }
  .intro-text {
    font-size: 1.7rem;
  }
  .main-search-bar {
    width: 52%;
  }
  .top20Span {
    padding: 8px;
    margin-left: 0px;
  }
  .top20 {
    width: 84%;
    text-align: center;
  }
  .top20-text {
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 12%;
    margin-bottom: 3%;
  }
  .cta {
    display: flex;
    flex-direction: row;
    padding: 0 10% 0 10%;
  }
  #second-cta-text {
    width: 80%;
  }
  .main-cta {
    margin: 4% auto 4% auto;
  }
}
@media screen and (max-width: 806px) {
    body {
    overflow-x: hidden;
  }
  .intro-box {
    max-height: 20%;
    width: 78%;
  }
  .intro-text {
    font-size: 1.6rem;
  }
  .main-search-bar {
    width: 66%;
  } 
   .top20Span {
    padding: 8px;
    margin-left: 0px;
  }
  .top20 {
    width: 80%;
    text-align: center;
  }
  .top20-text {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 12%;
    margin-bottom: 3%;
  }
  .cta {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  #second-cta-text {
    width: 90%;
  }
  .main-cta {
    margin: 4% auto 4% auto;
  }

}
@media screen and (max-width: 723px) {
    body {
    overflow-x: hidden;
  }
  .nav-icon-button {
    height: 4vh;
    display: inline;
    cursor: pointer;
  }
  .nav-links {
    display: none;
  }
  .intro-box {
    max-height: 20%;
    width: 85%;
  }
  .intro-text {
    font-size: 1.5rem;
  }
  .main-search-bar {
    width: 70%;
  } 
  .top20Span {
    padding: 8px;
    margin-left: 0px;
  }
  .top20 {
    width: 90%;
    text-align: center;
  }
  .top20-text {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 8%;
    margin-bottom: 3%;
  }
  .cta {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  #second-cta-text {
    width: 90%;
  }
  .main-cta {
    margin: 4% auto 4% auto;
  }
}
@media screen and (max-width: 600px) {
    body {
    overflow-x: hidden;
  }
/*  .nav {
    display: static;
  }*/
  .nav-icon-button {
    height: 4vh;
    display: inline;
    cursor: pointer;
  }
  .nav-links {
    display: none;
  }
  .intro-box {
    max-height: 20%;
    width: 90%;
  }
  .intro-text {
    font-size: 1.4rem;
  }
  .main-search-bar {
    border-width: 1px;
    width: 75%;
    height: 45px;
  }
  .top20Span {
    padding: 7px;
    margin-left: 0px;
  }
  .top20 {
    width: 90%;
    text-align: center;
  }
  .top20-text {
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 5%;
    margin-bottom: 3%;
  }
  .cta {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  #second-cta-text {
    width: 100%;
  }
  .main-cta {
    margin: 4% auto 4% auto;
  }
}

