* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: url("background.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  font-family: 'Baloo Da 2', cursive;
/*  font-family: 'Poppins', sans-serif;*/
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.card {
  display: inline-flex;
  width: 20vw;
  height: 45vh;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  align-content: center;
  border-style: solid;
  border-radius: 15px;
  background-color: #190B79;
  margin: 3% auto 5% auto;
}
.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}
span {
  margin: 0 8% 0 8%;
}

/********************HEADER STARTS***************************/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 8vh;
  background-color: #190B79;
  border-radius: 0px 0px 20px 20px;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-icon-button {
  height: 4vh;
  margin-left: 180%;
  cursor: pointer;
}
.nav-logo-button {
  height: 5.5vh;
  border-style: none;
  border-radius: 50%;
  margin-left: 180%;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  width: 15%;
  margin: 0.5px 5% 0 0;
}
.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
}
.nav-links li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.btn-1 {
  border: none;
  background: #190B79;
  color: #fff;
  padding-bottom: 4px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
/*  transition: all 500ms ease; */
}
.btn-1:hover{
  color: white;
  border-bottom: solid;
  border-bottom-width: 0.5px;
  border-color: white;
  background: #190B79;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 5px;
}
/*******************MainIntro Starts***********************/
.intro-box {
  background-color: white;
  max-height: 20%;
  width: 45%;
  padding: 20px;
  margin: 7% auto 5% auto;
  text-align: center;
  border-style: none;
  border-radius: 20px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
}
.intro-text {
  font-weight: bold;
  font-size: 1.8rem;
  color: #190B79;
}
/********************MainSearchBar Starts************************/
.homepage-search-bar {
  text-align: center;
}
.main-search-bar {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 24px;
  width: 39%;
  height: 45px;
  margin-right: 5px;
  box-shadow: 0px 1px 4px grey;
}
input{
  width: 100%;
  padding: 0.75% 2%;
  margin: 0.75% 0;
  box-sizing: border-box;
/*  transition: width 0.4s ease-in-out*/;
}
button {
  border-style: none;
  border-radius: 20px;
  padding: 10px;
  background-color: #190B79;
  color: white; 
  margin-left: 5px;
  box-shadow: 0px 1px 4px grey;
}
/********************Top 20 trending Starts************************/
.top20Span {
  background-color: white;
  color: #190B79;
  margin: 5px;
  padding: 10px;
  display: inline-block;
  border-style: none;
  border-radius: 15px;
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}
.top20 {
  width: 55%;
  margin: 0 auto 0 auto;
  text-align: center;
}
.top20-text { /*This is the text above the top20*/
  margin: 2% 0 0.5% 27%;
  font-size: 1.5rem;
  font-weight: 700;
  color: #190B79;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
}
/********************Map Starts************************/

/********************MainCTA Starts************************/
.cta {
  display: inline-flex;
  justify-content: space-around;
  margin: 4% 4% 3% 25%;
}
.main-cta {
  background-color: #190B79;
  border-style: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  height: 200px;
  width: 300px;
  margin-right: 50px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
}
.main-cta-text {
  text-align: left;
  font-size: 1.3rem;
  padding: 15px 0 3px 25px;
}
#second-cta-text {
  width: 68%;
}
.button-cta {
  background-color: white;
  color: #EB6CAD; 
  font-size: 1rem;
  margin-left: 150px;
}
/********************ABOUTINTRO STARTS***************************/
.slides-container {
  height: 45vh;
  width: 55vw;
  margin: 7% auto 5% auto;
  text-align: center;
  will-change: transform, opacity;
  cursor: pointer;
}
.slides {
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  position: absolute;
  cursor: pointer;
  height: 45vh;
  width: 55vw;
  border-radius: 20px;
}
h1 {
  text-align: center;
  margin: 13% auto auto auto;
  color: white;
  font-weight: bold;
  font-size: 3rem;
}
h3 {
  text-align: center;
  margin: 8% auto auto auto;
  color: #190B79;
  font-weight: bold;
  width: 80%;
}
/********************ABOUTBODYSTARTS***************************/
.about-team-area {
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  background-color: white;
  height: 67vh;
  width: 60vw;
  padding: 25px 5px 25px 5px;
  margin: 0 auto 10% auto;
  text-align: center;
  border-style: none;
  border-radius: 20px;
}
.about-each {
  text-align: center;
}
.body-avatars {
  height: 17vh;
  margin: 3% 0 5% 0;
}
h2 {
  text-align: left;
  color: #EB6CAD;
  font-size: bold;
  margin-left: 10%;
  text-transform: uppercase;
}
h4 {
  text-align: left;
  color: white;
  font-size: bold;
  margin-left: 10%;
  width: 85%;
}
/********************FOOTER STARTS*************************/
.footer-background {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  filter: brightness(150%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 6vh;
  border-radius: 20px 20px 0px 0px;
  font-weight: bold;
  text-align: center;
  font-weight: bold;
  color: #190B79;
/*  position: fixed;*/
  bottom: 0;
  width: 100%;
}
/********************FOOTER ENDS***************************/

/********************MEDIA QUERIES START***************************/
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 80%;
  }
}
@media screen and (max-width: 990px) {
  body {
    overflow-x: hidden;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .intro-box {
    width: 53%;
  }
  .intro-text {
    font-size: 1.7rem;
  }
  .main-search-bar {
   width: 45%;
  }
  .top20Span {
    padding: 8px;
    margin-left: 0px;
  }
  .top20 {
    width: 66%;
    text-align: center;
  }
  .top20-text {
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 20%;
    margin-bottom: 2%;
  }
  .main-cta {
    height: 200px;
    width: 300px;
    margin-right: 50px;
  }
  .main-cta-text {
    text-align: left;
    font-size: 1.3rem;
    padding: 15px 0 3px 25px;
  }
  #second-cta-text {
    width: 68%;
  }
}
@media screen and (max-width: 960px) {
  body {
    overflow-x: hidden;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .intro-box {
    width: 58%;
  }
  .intro-text {
    font-size: 1.7rem;
  }
  .main-search-bar {
   /* width: 45%;*/
   width: 50%;
  }
  .top20Span {
    padding: 8px;
    margin-left: 0px;
  }
  .top20 {
    width: 66%;
    text-align: center;
  }
  .top20-text {
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 20%;
    margin-bottom: 2%;
  }
}
@media screen and (max-width: 908px) {
  body {
    overflow-x: hidden;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .intro-box {
    width: 60%;
  }
  .intro-text {
    font-size: 1.7rem;
  }
  .main-search-bar {
    width: 52%;
  }
  .top20Span {
    padding: 8px;
    margin-left: 0px;
  }
  .top20 {
    width: 84%;
    text-align: center;
  }
  .top20-text {
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 12%;
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 806px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #190B79;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-icon-button {
    display: none;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .intro-box {
    max-height: 20%;
    width: 78%;
  }
  .intro-text {
    font-size: 1.6rem;
  }
  .main-search-bar {
    width: 66%;
  } 
   .top20Span {
    padding: 8px;
    margin-left: 0px;
  }
  .top20 {
    width: 80%;
    text-align: center;
  }
  .top20-text {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 12%;
    margin-bottom: 3%;
  }
}
@media screen and (max-width: 723px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #190B79;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-user-button {
    display: none;
  }
  .nav-icon-button {
    display: none;
  }
  .nav-search-bar {
    display: none;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .intro-box {
    max-height: 20%;
    width: 85%;
  }
  .intro-text {
    font-size: 1.5rem;
  }
  .main-search-bar {
    width: 70%;
  } 
  .top20Span {
    padding: 8px;
    margin-left: 0px;
  }
  .top20 {
    width: 90%;
    text-align: center;
  }
  .top20-text {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 8%;
    margin-bottom: 3%;
  }
  .cta {
    justify-content: space-around;
    margin: 4% 0 3% 5.5%;
  }
  .main-cta {
    margin-right: 2%;
    margin-bottom: 4%;
    height: 175px;
    width: 280px;
  }
  .main-cta-text {
    text-align: left;
    font-size: 1.1rem;
    padding: 15px 0 3px 25px;
  }
  #second-cta-text {
    width: 65%;
  }
  .button-cta {
    margin-left: 140px;
  }
}
@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #190B79;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-user-button {
    display: none;
  }
  .nav-icon-button {
    display: none;
  }
  .nav-search-bar {
    display: none;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger {
    display: block;
  }
 .intro-box {
    max-height: 20%;
    width: 90%;
  }
  .intro-text {
    font-size: 1.4rem;
  }
  .main-search-bar {
    border-width: 1px;
    width: 75%;
    height: 45px;
  }
  .top20Span {
    padding: 7px;
    margin-left: 0px;
  }
  .top20 {
    width: 90%;
    text-align: center;
  }
  .top20-text {
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 5%;
    margin-bottom: 3%;
  }
  .cta {
    flex-direction: column;
    justify-content: space-around;
    margin: 4% 4% 3% 20%;
  }
  .main-cta {
    margin-bottom: 5%;
  }
/*  .cta {
   flex-direction: column;
    justify-content: space-around;
    margin: 4% 4% 3% 20%;
  }
  .main-cta {
    margin-bottom: 5%;
  }*/
}